<html>
<mat-toolbar color="primary">
  <span>MTP Store</span>
  <button mat-button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</button>
  <button mat-button routerLink="/catalog" routerLinkActive="active" ariaCurrentWhenActive="page">Catalog</button>

  <span class="example-spacer"></span>

<button *ngIf="(isAuthenticated$ | async)||localStore.isLoggedIn()" mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" ><mat-icon>account_circle</mat-icon></button>
<mat-menu #menu="matMenu" xPosition="before">
  <button id="text" mat-button routerLink="/manage/users" *ngIf="localStore.isAdmin()" routerLinkActive="active"
    ariaCurrentWhenActive="page">Manage Users</button><br/>

  <button mat-button routerLink="/manage/products" *ngIf="localStore.isAdmin()" routerLinkActive="active"
    ariaCurrentWhenActive="page">Manage Catalog</button><br/>
  <button mat-button routerLink="/manage/orders" *ngIf="localStore.isAdmin()" routerLinkActive="active"
    ariaCurrentWhenActive="page">Manage Orders</button><br/>

  <!--<button mat-button routerLink="/profile" *ngIf="(isAuthenticated$ | async)||localStore.isLoggedIn()" routerLinkActive="active"
    ariaCurrentWhenActive="page">Profile</button>-->
  
  <button mat-button routerLink="/profile/list" *ngIf="(isAuthenticated$ | async)||localStore.isLoggedIn()" routerLinkActive="active"
    ariaCurrentWhenActive="page">Addresses</button><br/>
  <button mat-button routerLink="/orders" *ngIf="(isAuthenticated$ | async)||localStore.isLoggedIn()" routerLinkActive="active"
    ariaCurrentWhenActive="page">Orders</button><br/>

  </mat-menu>  

  <button mat-icon-button *ngIf="localStore.isLoggedIn()||(isAuthenticated$ | async)" routerLink="/cart">
    <mat-icon matBadge="{{cartService.totalItems}}" matBadgeColor="warn">shopping_cart</mat-icon>
  </button>


  <!--<ng-container *ngIf="(isAuthenticated$ | async) === false; else signout">
    <button (click)="signIn()">Okta Sign In</button>
  </ng-container>
  <ng-template #signout>
    <button (click)="signOut()">Okta Sign Out</button>
  </ng-template>-->

  <button *ngIf="!localStore.isLoggedIn()&& (isAuthenticated$ | async) === false" mat-button routerLink="/login" routerLinkActive="active"
    ariaCurrentWhenActive="page">Login</button>


    <ng-container *ngIf="(isAuthenticated$ | async) === true; else localsignout">
      <button mat-button (click)="signOut()">Sign Out</button>
    </ng-container>
    <ng-template #localsignout>
      <button *ngIf="localStore.isLoggedIn()" mat-button routerLink="/home" (click)="logout()">Logout</button>
    </ng-template>
  <!--<button *ngIf="localStore.isLoggedIn()" mat-button routerLink="/home" (click)="logout()">Logout</button>-->

</mat-toolbar>
<div class="contentpane">
  <router-outlet>

  </router-outlet>
</div>
<!--<app-cart-sidenav></app-cart-sidenav>-->
</html>