<br>
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-6 offset-md-3">
            <h1>Registration</h1>
            <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
                <div class="row" *ngIf="successMsg">
                    <div class="col-xs-12">
                        <p class="alert alert-success">
                            <strong>Registration Successful! </strong><a href="/login">Log in here</a>
                        </p>
                    </div>
                </div>
                <div class="row" *ngIf="isErr">
                    <div class="col-xs-12">
                        <p class="alert alert-danger">
                            <strong>Registration unsuccessful! {{errMessage}}</strong>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="firstName">
                        First Name
                    </label>
                    <input id="firstName" name="firstName" [(ngModel)]="user.firstName" class="form-control" required
                        #firstName="ngModel" />
                        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="msg">
                            <div *ngIf="firstName.errors?.['required']">First Name is required</div>
                        </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="lastName">
                        Last Name
                    </label>
                    <input id="lastName" name="lastName" [(ngModel)]="user.lastName" class="form-control" required
                        #lastName="ngModel" />
                        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="msg">
                            <div *ngIf="lastName.errors?.['required']">Last Name is required</div>
                        </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="email">
                        Email
                    </label>
                    <input id="email" name="email" [(ngModel)]="user.email" class="form-control" required
                        email #email="ngModel" />
                        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="msg">
                            <div *ngIf="email.errors?.['required']">Email is required</div>
                            <div *ngIf="email.errors?.['email']">Email is invalid</div>
                        </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="password">
                        Password
                    </label>
                    <input id="password" name="password" [(ngModel)]="user.password" class="form-control" type="password" required 
                     minlength="6" #password="ngModel" />
                     <div *ngIf="password.invalid && (password.dirty || password.touched)" class="msg">
                        <div *ngIf="password.errors?.['required']">Password is required</div>
                        <div *ngIf="password.errors?.['minlength']">Password must be at least 6 characters</div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-info" [disabled]="!userForm.valid">Register</button>
                    <span>Already registered? <a href="/login">Login here</a></span>
                </div>
            </form>
        </div>
    </div>